/* CSS variable */
:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --cloud: #f4f4fd;
  --white: #ffffff;
}

/* Base */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* #region Header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Hero section */
.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  margin: 120px 0 24px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Features-title */
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/* #region Our team */
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 700;
}
.team-list {
  list-style: none;
  margin: 0;
}

.team-card {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin: 0;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin: 0;
}
/* #endregion */

/* #region Portfolio */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0;
}

.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

.work-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
/* #endregion */

/* #region Footer */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  margin: 16px 0 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  white-space: normal;
  overflow-wrap: break-word;
}
/* #endregion */
